/*bug momen*/

@import url('https://fonts.cdnfonts.com/css/eight-bit-dragon');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

@font-face {
    font-family: 'Gotham Medium';
    src: url('../font/Gotham-font-family/Gotham-Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Medium';
    src: url('../font/circular/CircularStd-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Medium';
    src: url('../font/circular/CircularStd-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Bold';
    src: url('../font/circular/CircularStd-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Black';
    src: url('../font/circular/CircularStd-Black.otf') format('opentype');
    font-weight: 900;
    /* "900" represents the font weight for the Black variant */
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-weight: bold;
    font-family: Montserrat;
}

body {
    background-color: #ffedfa;
    overflow-x: hidden;
}

.container {
    max-width: 1440px;
    height: fit-content;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 30px;
    display: flex;
    margin: 0 auto;
    padding: 20px;
    overflow-x: hidden;
    z-index: 1;
    flex-direction: column;
    align-items: normal;
    overflow-y: auto;
    position: relative;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #0F4471;
}

/* Alvaro */

.other_game_card {
    width: 300px;
    height: 200px;
    perspective: 1000px;
    border-radius: 50px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.out_container {
    
}


.other_game_card-front,
.other_game_card-back {
    width: 300px;
    height: 200px;
    backface-visibility: hidden;
    border-radius: 50px;
}

.other_game_card-front {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s;
    z-index: 1;
   
}

.other_game_card-back {
    background-color: #0F4471;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: transform 0.5s;
    font-family: 'Roboto', sans-serif; 
    letter-spacing: 2.94px; 
    font-size: 2.5em;
    word-wrap: break-word;
    font-weight: bold;
    color: white;
    position: absolute;
}

.other_game_card:hover .other_game_card-front {
    z-index: 1;
    border-radius: 50px;
}

.other_game_card:hover .other_game_card-back {
    transform: scale(1);
    z-index: 2;
    opacity: 80%;
    border-radius: 50px;
   
    
}

.other_game_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
}